.DS_Store
.idea/
.vscode/

**/*.log
backend/coverage/
backend/.phpunit.cache/
backend/.phpunit.result.cache

**/.env
**/.env.local
**/.env.*.local
!**/.env.example
!**/.env.dist

backend/vendor/
backend/public/storage
backend/storage/*
!backend/storage/.gitignore
backend/bootstrap/cache/*
!backend/bootstrap/cache/.gitignore

frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.eslintcache
